<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Max Seguro</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/9b23ccbb90.js" crossorigin="anonymous"></script>
    
</head>
<body>


    <%- body %>
    
    <!-- SCRIPT -->
    <footer class="footer">
        <p>&copy;2024 Jesús Victor Zavaleta Serva</p>
    </footer>
</body>
</html>